# OASIS TASK - 1
# IRIS FLOWER CLASSIFICATION
### Iris flower has three species; setosa, versicolor, and virginica, which differs according to their
### measurements. Now assume that you have the measurements of the iris flowers according to
### their species, and here your task is to train a machine learning model that can learn from the
### measurements of the iris species and classify them.

## IMPORTING THE LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## IMPORTING THE DATASET

In [4]:
data=sns.load_dataset("iris")

In [5]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
data.shape

(150, 5)

## CONVERTING THE CATEGORCAL DATA INTO NUMERICAL DATA

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["species"]=le.fit_transform(data["species"])

In [11]:
data

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [12]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

## DIVIDING THE DATA FOR TRAINING AND TESTING

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

## IMPORING THE LIBRARIES FOR MACHINE LEARNING MODEL 
## FITTING THE MODEL

In [15]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x_train,y_train)

DecisionTreeClassifier()

## PREDICTING THE MODEL

In [16]:
y_pred=model.predict(x_test)

## FINDING THE ACCURACY OF MODEL

In [17]:
from sklearn.metrics import accuracy_score
acc=accuracy_score(y_test,y_pred)

In [20]:
print(f"the accuracy is {acc}")

the accuracy is 0.9666666666666667

## PREDICTING THE MODEL WITH SOME DATA

In [23]:
yp=model.predict([[6.7,3.0,5.2,2.3]])

In [24]:
print(le.inverse_transform(yp))

['virginica']